
main {
    margin-top: 20px;
}
.input-group {
    margin-bottom: 20px;
    margin-left: 20px;
}

.input-group label {

}

.input-group input[type="range"] {
    width: 300px;
    margin-left: 20px;
   
}

.rgb {
    width: 100px;
    height: 100px;
    border: 1px solid;
}